{% load i18n %}
{% autoescape off %}
<p>{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}</p>
<p>{% blocktrans %}Please go to the following page and choose a new password:{% endblocktrans %}</p>
<p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uidb64 token=token %}">{% blocktrans %}Click here to reset your password{% endblocktrans %}</a></p>
<p>{% blocktrans %}If you didn't request a password reset, please ignore this email.{% endblocktrans %}</p>
{% endautoescape %}
